<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= "All " if params[:category_id].blank? %>Products</h1>
    <div class="flex items-container">
      <%= link_to "Back to categories", categories_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <%= link_to "New product", new_product_path(category_id: @products&.first&.category_id), class: "rounded-lg ml-5 py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
  </div>

  <div id="products" class="min-w-full mt-5">
    <table class="divide-y divide-gray-200 dark:divide-neutral-700">
      <thead>
      </thead>
      <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
        <% @products.each do |product| %>
          <tr>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">
              <%= link_to product.name, category_product_data_path(category_id: product.category_id, product_id: product.id) %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">
              <%= link_to "Show data", category_product_data_path(category_id: product.category_id, product_id: product.id), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">
              <%= link_to "Edit", edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
