<!DOCTYPE html>
<html>
  <head>
    <title>Pricom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="text-gray-200 body-font bg-blue-600">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <%= link_to "PriCom", products_path, class: "flex title-font font-medium items-center text-gray-50 mb-4 md:mb-0 ml-3 text-xl" %>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
          <%= link_to "Products", products_path, class: "mr-5 hover:text-gray-50" %>
          <%= link_to "Categories", categories_path, class: "mr-5 hover:text-gray-50" %>
        </nav>
      </div>
    </header>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
